<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	    <session-factory>
	        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	        <property name="hibernate.connection.url">jdbc:mysql://localhost/profilglassconf</property>
	        <property name="hibernate.connection.username">root</property>
	        <property name="hibernate.connection.password">root</property>
	        
         	<mapping class="it.profilglass.classmodel.CentroLavoro"/>
         	<mapping class="it.profilglass.classmodel.Attivita"/>
         	<mapping class="it.profilglass.classmodel.Caratteristica"/>
         	<mapping class="it.profilglass.classmodel.Opzione"/>
         	<mapping class="it.profilglass.classmodel.BusinessPartner"/>
         	<mapping class="it.profilglass.classmodel.Macchina"/>
         	<mapping class="it.profilglass.orm.AnagraficaArticolo"/>
         	<mapping class="it.profilglass.orm.AttivitaMacchinaRel"/>
         	<mapping class="it.profilglass.orm.CicloTestata"/>
         	<mapping class="it.profilglass.orm.CicloRiga"/>
         	<mapping class="it.profilglass.orm.BpSpeciali"/>
         	<mapping class="it.profilglass.orm.RichiesteRighe"/>
         	<mapping class="it.profilglass.orm.RichiesteTestata"/>
         	<mapping class="it.profilglass.orm.DistintaOrm"/>
         	<mapping class="it.profilglass.orm.MagazzinoOrm"/>
         	<mapping class="it.profilglass.orm.AlternativiOrm"/>
	    </session-factory>
	</hibernate-configuration>